html {
  transition: 0.4s;
}
html[dark="false"] {
  background-color: #fbd982;
  color: #ffffff;
}

html[dark="true"] {
  background-color: #17191c;
  color: #5686f5;
}

.icon {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  font-size: 8rem;
}
